.container {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 40px;
  position: relative;
  margin-bottom: 200px;
  .main {

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .main {
    flex-shrink: 0;
    width: 50%;
  }

  .card {
    position: absolute;
    bottom: 20%;
    background: #faf7f7;
    width: 60%;
    right: 10%;
    padding: 60px;
    
    line-height: 1.4em;
    color: #4b4217;
    color: #83817b;
    padding-right: 10%;
    // font-size: 200px;
    font-size: clamp(0.5rem, 0.2rem + 1.3vw, 1.1rem);
    // font-size: 16px;
    span {
      color: black;
      font-size: 47px;
      line-height: 1.14em;
      display: block;
      margin-bottom: 15px;
      font-family: "Old Standard TT", serif;
      font-size: clamp(1rem, 0.5rem + 2.5vw, 32rem);
    }
    &::after {
      content: "";
      display: block;
      width: 20%;
      height: 0;
      border-top: 1px solid black;
      position: absolute;
      top: 20%;
      right: -5%;
    }
    img {
      width: 60px;
      float: left;
    }
  }
  @keyframes bganim {
    from {
      background-position-x: 0px;
    }
    to {
      background-position-x: -100000px;
    }
  }
  .logobg {
    width: 100%;
    // position: absolute;
    // height: 100%;
    div {
      width: 100vh;
      height: 504px;
      background-repeat: repeat-x;
      background-size: 100%;
      position: absolute;
      top: 0;
      left: 70%;
      transform-origin: top left;
      transform: rotate(90deg);
      // border: 1px solid black;
      background-position-x: 70px;
      animation: 6000s ease-out bganim reverse infinite;
      animation-direction: alternate;
    }
  }
}
